body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}
 
h2 {
   
    color: #333;
}
 
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}
 
fieldset {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}
 
legend {
    font-weight: bold;
    color: #555;
}
 
label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
 
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
input[type="radio"], input[type="checkbox"] {
    width: auto;
 
}
 
textarea {
    resize: none;
}
 

 
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
#btnSubmit {
    background-color: #4CAF50;
    color: white;
}
 
#btnCancel {
    background-color: #f44336;
    color: white;
}
 
button:hover {
    opacity: 0.8;
}

h2{
   background-color: tomato;
}
legend{
    background-color: tomato;
 }
